﻿/*#region SFUFuturaBook*/
@font-face {
  font-family: "SfuFuturaBook";
  src: url("./fonts/SFUFuturaBook.eot"); /* IE9 Compat Modes */
  src: url("./fonts/SFUFuturaBook.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/SFUFuturaBook.otf") format("opentype"), /* Open Type Font */
    url("./fonts/SFUFuturaBook.svg") format("svg"), /* Legacy iOS */
    url("./fonts/SFUFuturaBook.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/SFUFuturaBook.woff") format("woff"), /* Modern Browsers */
    url("./fonts/SFUFuturaBook.woff2") format("woff2"); /* Modern Browsers */
}
/*#endregion */

/*#region Arimo*/
@font-face {
  font-family: "Arimo";
  src: url("./fonts/Arimo-Regular.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Arimo-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Arimo-Regular.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Arimo-Regular.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Arimo-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Arimo-Regular.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Arimo-Regular.woff2") format("woff2"); /* Modern Browsers */
}
@font-face {
  font-family: "Arimo";
  src: url("./fonts/Arimo-Bold.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Arimo-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Arimo-Bold.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Arimo-Bold.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Arimo-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Arimo-Bold.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Arimo-Bold.woff2") format("woff2"); /* Modern Browsers */
	font-weight: bold;
}
@font-face {
  font-family: "Arimo";
  src: url("./fonts/Arimo-Italic.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Arimo-Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Arimo-Italic.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Arimo-Italic.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Arimo-Italic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Arimo-Italic.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Arimo-Italic.woff2") format("woff2"); /* Modern Browsers */
	font-style: italic;
}
/*#endregion */

/*#region UTMImpact*/
@font-face {
  font-family: "UtmImpact";
  src: url("./fonts/UTMImpact.eot"); /* IE9 Compat Modes */
  src: url("./fonts/UTMImpact.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/UTMImpact.otf") format("opentype"), /* Open Type Font */
    url("./fonts/UTMImpact.svg") format("svg"), /* Legacy iOS */
    url("./fonts/UTMImpact.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/UTMImpact.woff") format("woff"), /* Modern Browsers */
    url("./fonts/UTMImpact.woff2") format("woff2"); /* Modern Browsers */
}
/*#endregion */

/*#region SeogeUI*/
@font-face {
  font-family: "SeogeUi";
  src: url("./fonts/segoe-ui-bold.eot"); /* IE9 Compat Modes */
  src: url("./fonts/segoe-ui-bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/segoe-ui-bold.otf") format("opentype"), /* Open Type Font */
    url("./fonts/segoe-ui-bold.svg") format("svg"), /* Legacy iOS */
    url("./fonts/segoe-ui-bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/segoe-ui-bold.woff") format("woff"), /* Modern Browsers */
    url("./fonts/segoe-ui-bold.woff2") format("woff2"); /* Modern Browsers */
	font-weight: bold;
}
/*#endregion */