﻿@import "bootstrap-4.2.1/scss/bootstrap";
@import "font-awesome-4.7.0/scss/font-awesome";
@import "../js/slick-1.8.1/slick/slick.scss";

@import "font-face";
@import "variables";
@import "mixin";
@import "reset";
@import "image";
@import "bootstrap-edit";

// lớp overlay
.overlay {
	visibility: hidden;
	opacity: 0;
	transition: all .3s ease;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.6);
}

// khối header
.header {
	&__top {
		height: 70px;
		border-bottom: 1px solid #e5e5e5;
		.left {
			font-family: $font-logo;
			text-transform: uppercase;
			display: flex;
			align-items: center;
			font-size: 30px;
			letter-spacing: 12px;
			span {
				font-size: 26px;
				width: 36px;
				line-height: 34px;
				border-radius: 50%;
				border: 1px solid #000;
				display: inline-block;
				text-align: center;
				margin-right: 14px;
				letter-spacing: normal;
			}
		}
		.right {
			display: flex;
			align-items: center;
			.address { font-size: 14px; margin-right: 50px }
			.input {
				position: relative;
				input { 
					padding: 4px 15px;
					background-color: #edf1f1; 
					border-radius: 20px; 
					border: none; 
					box-shadow: 0 2px 2px -1px #d6d6d6;
					&::-webkit-input-placeholder { font-size: 12px; color: #000; font-style: italic }
					&::-moz-placeholder { font-size: 12px; color: #000; font-style: italic }
					&:-ms-input-placeholder { font-size: 12px; color: #000; font-style: italic }
					&:-moz-placeholder { font-size: 12px; color: #000; font-style: italic }
				}
				a { position: absolute; top: 50%; right: 15px; transform: translateY(-50%); font-size: 12px }
			}
			.cart {
				margin-left: 40px;
				position: relative;
				&:after {
					content: '1';
					position: absolute;
					z-index: 9;
					top: -2px;
					right: -7px;
					background-color: #000;
					color: #fff;
					font-family: $font-tertiary;
					font-size: 9px;
					line-height: 16px;
					width: 16px;
					text-align: center;
					border-radius: 50%;
				}
			}
		}
	}
	&__bottom {
		nav { 
			margin: 0 -20px;
			ul {
				padding: 0;
				margin: 0;
				li {
					display: inline-block;
					padding: 12px 20px;
					&.submenu {
						position: relative;
						padding: 12px 35px 12px 20px;
						&:before {
							content: '\f107';
							position: absolute;
							top: 50%;
							right: 20px;
							transform: translateY(-50%);
							z-index: 9;
							font-family: FontAwesome;
						}
						ul {
							opacity: 0;
							position: absolute;
							top: 40px;
							left: 0;
							visibility: hidden;
							transform: translateY(15px);
							transition: all .3s ease;
							li { 
								display: block;
								background: #fff;
								border-bottom: 1px solid #eee;
								min-width: 222px;
								transition: all .3s ease;
								&:hover { background-color: #f1f1f1 }
							}
						}
						&:hover ul { 
							opacity: 1; 
							visibility: visible; 
							transform: translateY(0); 
							z-index: 999;
						}
					}
				}
			}
		}
		.right {
			margin: 0 -22px;
			a { 
				font-weight: bold; 
				padding: 12px 22px; 
				position: relative;
				display: inline-block;
				&:before {
					content: '';
					position: absolute;
					width: 1px;
					height: 12px;
					background-color: #aeaeae;
					top: 50%;
					right: 0;
					transform: translateY(-50%);
				}
				&:last-child:before { display: none }
			}
		}
	}
}

// khối slider
.slider {
	.item {
		max-height: 830px;
		position: relative;
	}
	.slick-arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 9;
		border: none;
		background-color: rgba(96, 100, 101, .6);
		font-size: 28px;
		color: #fff;
		width: 60px;
		line-height: 60px;
    padding: 0;
		cursor: pointer;
		transition: all .3s ease;
		i { position: relative; top: 3px }
		&:hover { background-color: rgba(96, 100, 101, .4); }
	}
	.slick-prev { left: 5%; i { right: 3px } };
	.slick-next { right: 5%; i { left: 3px } };
	.info {
		color: #fff;
		position: absolute;
		top: 50%;
		left: 17%;
		transform: translateY(-50%);
		line-height: 77px;
		z-index: 9;
		text-transform: uppercase;
		h2 {
			font-family: $font-secondary;
			font-size: 90px;
		}
		p {
			font-size: 60px;
		}
	}
}

// khối category
.category {
	padding: 56px 0;
	.row { margin: 0 -7px }
	.item {
		padding: 7px;
		position: relative;
		.info {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-family: $font-tertiary;
			color: #fff;
			z-index: 99;
			text-transform: uppercase;
			width: 100%;
			text-align: center;
			h2 { font-size: 42px; line-height: 22px; letter-spacing: 10px; margin-bottom: 20px }
			a { font-size: 15px; color: #fff; display: block; text-align: center }
		}
		.imgcw a:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0);
			z-index: 39;
			top: 0;
			left: 0;
			transition: all .3s ease;
		}
		&:hover .imgcw a:after { background-color: rgba(0,0,0,.3); }
		&.small .info h2 { font-size: 33px; letter-spacing: 5px }
	}
}

// khối sản phẩm nổi bật
.product {
	padding-bottom: 60px;
	&__title { text-align: center; font-size: 50px; padding: 20px 0 30px }
	&__slide {
		.slick-list { margin: 0 -7px }
		.item {
			padding: 0 7px;
			text-align: center;
			.imgcw:before { padding-bottom: 123.90% }
			.name { 
				font-size: 12px;
				text-transform: uppercase;
				letter-spacing: 3px;
				color: #333;
				padding: 45px 0 10px;
				display: block;
			}
			.price { font-size: 14px; line-height: 22px; margin-bottom: 15px }
			.buy { 
				background-color: #000;
				font-size: 12px;
				text-transform: uppercase;
				padding: 11px 44px;
				color: #fff;
				transition: all .3s ease;
				display: inline-block;
				&:hover { background-color: #787878 }
			}
		}
		.sale > .name {
			position: relative;
			&:after {
				content: 'GIÁ ĐẶC BIỆT';
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				top: 10px;
				color: #fff;
				background-color: #000;
				font-size: 10px;
				letter-spacing: normal;
				padding: 3px 4px;
			}
		}
		.slick-arrow {
			position: absolute;
			top: calc(50% - 75px);
			transform: translateY(-50%);
			z-index: 9;
			width: 45px;
			height: 45px;
			text-align: center;
			padding: 0;
			font-size: 20px;
			color: #fff;
			background-color: rgba(96,100,101,.6);
			transition: all .3s ease;
			cursor: pointer;
			border: none;
			&:hover { background-color: rgba(96,100,101,.4) }
		}
		.slick-prev { left: 0 }
		.slick-next { right: 0 }
	}
}

// khối footer
.footer {
	border-top: 1px solid #dedede;
	padding: 60px 0 0;
	position: relative;
	.subscribe {
		margin-bottom: 60px;
		.wrap { padding-right: 73px; border-right: 1px solid #e9e9e9 }
		h2 { font-size: 18px; text-transform: uppercase; margin-bottom: 25px }
		p { font-size: 14px; line-height: 24px; margin-bottom: 20px }
		.input {
			position: relative;
			input { 
				border: 1px solid #ddd;
				padding: 12px 15px;
				width: 100%;
				&::-webkit-input-placeholder { font-size: 14px; color: #999 }
				&::-moz-placeholder { font-size: 14px; color: #999 }
				&:-ms-input-placeholder { font-size: 14px; color: #999 }
				&:-moz-placeholder { font-size: 14px; color: #999 }
			}
			a { 
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 0;
				font-size: 12px;
				text-transform: uppercase;
				border-left: 1px solid #ddd;
				padding: 5px 15px;
			}
		}
	}
	.policy {
		margin-bottom: 60px;
		.wrap { border-right: 1px solid #e9e9e9 }
		h2 { font-size: 18px; text-transform: uppercase; margin-bottom: 20px }
		ul {
			padding: 0;
			margin: 0;
			li a { 
				font-size: 15px;
				line-height: 32px;
				transition: all .3s ease;
				&:hover { color: #999 };
			}
		}
	}
	.address {
		margin-bottom: 60px;
		.wrap { border-right: 1px solid #e9e9e9 }
		.name { 
			font-weight: bold; 
			font-size: 30px; 
			color: #000; 
			position: relative;
			top: -7px;
			text-transform: uppercase;
			line-height: normal;
			margin-bottom: 7px;
		}
		ul {
			padding: 0;
			margin: 0;
			li {
				font-size: 15px;
				line-height: 32px;
				i { color: #b3b3b3; min-width: 16px; text-align: center; margin-right: 5px }
			}
		}
	}
	.social {
		margin-bottom: 60px;
		a { color: #898989; padding-left: 15px }
		.hotline {
			margin-top: 25px;
			border: 1px solid #ddd;
			display: flex;
			align-items: center;
			padding: 22px 15px;
			img { padding-right: 10px }
			p { margin-bottom: 0; font-size: 14px }
			.number { font-size: 17px; font-weight: bold; margin-top: 10px }
		}
	}
	&__chat { position: fixed; bottom: 0; right: 0; z-index: 999 }
	&__scroll {
		position: absolute;
		left: 50%;
		top: -35px;
		transform: translateX(-50%);
		z-index: 999;
	}
}