﻿body {
	font-family: $font-primary;
	font-size: 16px;
	color: #333;
}

a { color: #000 }

*:focus { outline: none!important }

a:hover { color: inherit; text-decoration: none }

ul { list-style-type: none }