﻿@media only screen and (max-width: 1199px) {
	.header__bottom {
		display: flex;
    align-items: center;
		min-height: 48px;
		nav { 
			position: fixed;
			left: -320px;
			max-width: 300px;
			width: 100%;
			z-index: 9999999999;
			height: 100%;
			top: 0;
			background: #fff;
			transition: all .3s ease;
			li { display: block!important; border-bottom: 1px solid #f1f1f1 }
		}
	}
	.slider {
		.item {
			height: 260px;
			img { width: 100%; position: relative; top: -165px }
		}
		.info {
			left: 4.5%;
			line-height: 0;
			display: flex;
			flex-direction: column-reverse;
			h2 { font-size: 62.91px }
			p { font-size: 22.77px; line-height: 35px }
		}
	}
	.category { 
		padding: 25px 0;
		.item.small .info h2 {    
			height: 35px;
			overflow: hidden;
			line-height: 35px;
		}
	}
	.product__title { font-size: 40px; padding: 20px 0 }
	.product__slide {
		.item .name { padding-top: 20px }
		.sale > .name:after { display: none }
	}
	.footer .subscribe .wrap { border: none }
	.footer .policy .wrap { border: none }
	.footer .address .wrap { border: none }
}

@media only screen and (max-width: 991px) {
	.slider .item img { top: 0 }
}

@media only screen and (max-width: 767px) {
	.category { padding: 10px 0 }
	.slider .item img { height: 100%; width: auto }
	.product__title { font-size: 30px }
	.footer .subscribe .wrap { padding: 0 }
	.header__bottom .right { margin: 0 }
	.header__bottom .right a:last-child { padding-right: 0 }
}
